html {
  min-width: 1040px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  tab-size: 2;
  width: 960px;
}



/*h1 {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}*/


#leftcolumn, #rightcolumn {
    float: left;
}
#leftcolumn {
     width: 550px;
}
#rightcolumn {
     width: 250px;
}

aside {
  font-size: small;
  left: 780px;
  position: absolute;
  text-align: right;
  width: 180px;
}

p {
  line-height: 1.5em;
}

blockquote {
  width: 640px;
}

li {
  width: 680px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
  line-height: normal;
}

textarea {
  font-size: 100%;
}

pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
  width: 960px;
  overflow-x: auto;
}

