/*html {
  min-width: 840px;
}*/


body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  padding-left: 100px;
}



h1 {
  font-weight: 300;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}


#leftcolumn, #rightcolumn {
    float: left;
}
#leftcolumn {
     width: 550px;
}
#rightcolumn {
     width: 250px;
}

aside {
  font-size: small;
  left: 780px;
  position: absolute;
  text-align: right;
  width: 180px;
}

p {
  line-height: 1.5em;
}

blockquote {
  width: 640px;
}

li {
  width: 680px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
  line-height: normal;
}

textarea {
  font-size: 100%;
}



*/